type=triples&format=RDF/XML&lang=sparql&query=

PREFIX prefix: <${headers.predicatePrefix}>

construct { ?datastream <prefix:${headers.predicate}> ?xslt . }
WHERE
{
  <info:fedora/${headers.pid}> <fedora-view:disseminates> ?datastream .
    ?datastream <prefix:${headers.predicate}>  ?xslt .
}  
