type=triples&format=RDF/XML&lang=sparql&query=

PREFIX dependencyPrefix:<${headers.dependencyPredicatePrefix}>
PREFIX indexerPrefix:<${headers.indexerPredicatePrefix}>

CONSTRUCT { ?datastream <dependencyPrefix:${headers.dependencyPredicate}> <info:fedora/${headers.pid}> . }
WHERE
{
 ?datastream <indexerPrefix:${headers.indexerPredicate}> <info:fedora/${headers.pid}/XSLT> 
}  
