type=triples&format=RDF/XML&lang=sparql&query=

construct { ?datastream <${headers.indexerPredicate}> ?xslt . }
WHERE
{
  <info:fedora/${headers.pid}> <fedora-view:disseminates> ?datastream .
    ?datastream <${headers.indexerPredicate}>  ?xslt .
}  
