type=triples&format=RDF/XML&lang=sparql&query=

CONSTRUCT { ?datastream <${headers.indexerPredicate}> <info:fedora/${headers.pid}> . }
WHERE
{
 ?datastream <${headers.indexerPredicate}> <info:fedora/${headers.pid}/XSLT> 
}  
