type=triples&format=RDF/XML&lang=sparql&query=

PREFIX uva-lib: <http://fedora.lib.virginia.edu/relationships#>

construct { ?datastream <uva-lib:isIndexedBy> ?xslt . }
WHERE
{
  <info:fedora/${headers.pid}> <fedora-view:disseminates> ?datastream .
  ?datastream <uva-lib:isIndexedBy>  ?xslt .
}  