type=triples&format=RDF/XML&lang=sparql&query=

PREFIX uva-lib: <http://fedora.lib.virginia.edu/relationships#>

CONSTRUCT { ?datastream <uva-lib:isDependentOn> <info:fedora/${headers.pid}> . }
WHERE
{
 ?datastream <uva-lib:isIndexedBy> <info:fedora/${headers.pid}/XSLT> 
}  